<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="<%= htmlWebpackPlugin.options.css %>">
    <title>Тестовое задание</title>
    <link rel="shortcut icon" type="image/x-icon" href="./favicons/favicon.ico">
</head>
<body class="page">
<%= _.template(require('html-loader!./../templates/header/header.html'))() %>
    <div class="page-content">
<%= _.template(require('html-loader!./../templates/slider/slider.html'))() %>
<%= _.template(require('html-loader!./../templates/events/events.html'))() %>
<%= _.template(require('html-loader!./../templates/calcWeight/calcWeight.html'))() %>
<%= _.template(require('html-loader!./../templates/walkMan/walkMan.html'))() %>
    </div>
<%= _.template(require('html-loader!./../templates/footer/footer.html'))() %>
    <script src="<%= htmlWebpackPlugin.files.chunks.home.entry %>"></script>
</body>
</html>