<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="./favicons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="<%= htmlWebpackPlugin.options.css %>">
    <title>Тестовое задание</title>
</head>
<body class="page">
<%= _.template(require('html-loader!./../templates/header/header.html'))() %>
    <div class="page-content">

    </div>
<%= _.template(require('html-loader!./../templates/footer/footer.html'))() %>
    <script src="<%= htmlWebpackPlugin.files.chunks.home.entry %>"></script>
</body>
</html>