        <div class="events">
            <div class="wrapper events-wrapper">
                <p class="module-name">События декабря</p>
                <div class="event-items">
                    <%
                    var items = [
                        {
                            date: "10",
                            desc: "Катаемся на лыжах"
                        },
                        {
                            date: "21",
                            desc: "Турнир<br /> по армрестлингу"
                        },
                        {
                            date: "24",
                            desc: "Новый год в «Максиме»"
                        },
                    ];

                    items.forEach(function(item) { %>
                    <div class="event-item">
                        <div class="event-flag">
                            <div class="flag-rectangle__1">
                                <div class="flag-rectangle__2"></div>
                                <a href="#" class="flag-rectangle__3">
                                    <span><%= item.desc %></span>
                                </a>
                                <div class="flag-rectangle__4">
                                    <span><%- item.date %></span>
                                </div>
                                <div class="flag__leg flag__leg_left"></div>
                                <div class="flag__leg flag__leg_right"></div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
            <div class="skier"></div>
        </div>