        <div class="events">
            <div class="wrapper">
                <div class="event-item">
                    <div class="event-flag">
                        <div class="flag-rectangle__1">
                            <div class="flag-rectangle__2">
                                <div class="flag-rectangle__3">
                                    <div class="flag-rectangle__4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>