        <div class="events">
            <div class="wrapper events-wrapper">
                <p class="module-name">События декабря</p>
                <div class="event-items">
                    <div class="event-item">
                        <div class="event-flag">
                            <div class="flag-rectangle__1">
                                <div class="flag-rectangle__2"></div>
                                <a href="#" class="flag-rectangle__3">
                                    <span>Катаемся на лыжах</span>
                                </a>
                                <div class="flag-rectangle__4">
                                    <span>10</span>
                                </div>
                                <div class="flag_leg1"></div>
                                <div class="flag_leg2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="event-item">
                        <div class="event-flag">
                            <div class="flag-rectangle__1">
                                <div class="flag-rectangle__2"></div>
                                <a href="#" class="flag-rectangle__3">
                                    <span>Турнир<br /> по армрестлингу</span>
                                </a>
                                <div class="flag-rectangle__4">
                                    <span>21</span>
                                </div>
                                <div class="flag_leg1"></div>
                                <div class="flag_leg2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="event-item">
                        <div class="event-flag">
                            <div class="flag-rectangle__1">
                                <div class="flag-rectangle__2"></div>
                                <a href="#" class="flag-rectangle__3">
                                    <span>Новый год в «Максиме»</span>
                                </a>
                                <div class="flag-rectangle__4">
                                    <span>24</span>
                                </div>
                                <div class="flag_leg1"></div>
                                <div class="flag_leg2"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="skier"></div>
        </div>