    <header>
        <div class="header-fixed-place"></div>
        <div class="header-fixed">
            <div class="wrapper">
                <a href="#" class="header-item">
                    <span>Расписание занятий</span>
                </a>
                <div class="header-item">
                    8-899-5899-99-99
                </div>
                <div class="header-item">
                    8-899-5899-99-99
                </div>
                <div class="header-item">
                    8-899-5899-99-99
                </div>
            </div>
        </div>
        <div class="wrapper">
            <a href="/" class="header-logo">logo</a>
        </div>

    </header>