/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.header {
  font-family: Intro-Regular;
}
.header-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-section_fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(to right, #e23760 0%, #f8597f 100%);
  z-index: 99;
}
.header-fixed-item {
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: center;
}
.header-fixed-item_bg_red {
  background: #ce375b;
}
.header-fixed-button {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3px;
  height: 100%;
  width: 230px;
}
.header-fixed-button span {
  margin: 0 7px;
  text-decoration: none;
}
.header-fixed-button .header-fixed-button__text {
  padding: 7px 0;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.header-fixed-button:hover .header-fixed-button__text {
  padding: 1px 0;
  border-bottom: 1px solid #ffffff;
}
.header-fixed-button_attention .header-fixed-button__icon {
  position: relative;
}
.header-fixed-button_attention .header-fixed-button__icon:before {
  content: "";
  background-image: url(~sprite.png);
  background-position: -180px -55px;
  width: 16px;
  height: 16px;
  background-size: 207px, 166px;
  display: block;
  position: absolute;
  right: -7px;
  top: -6px;
  animation: opacity-togle 1.2s infinite;
}
@keyframes opacity-togle {
  from {
    opacity: 0;
    animation-timing-function: ease-out;
  }
  50% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  to {
    opacity: 0;
    animation-timing-function: ease-out;
  }
}
.header-fixed-button__icon_time-table {
  background-image: url(~sprite.png);
  background-position: -180px 0px;
  width: 27px;
  height: 29px;
  background-size: 207px, 166px;
}
.header-fixed-button__icon_phone {
  background-image: url(~sprite.png);
  background-position: -138px -120px;
  width: 32px;
  height: 32px;
  background-size: 207px, 166px;
}
.header-phone {
  font-size: 20px;
  text-decoration: none;
  font-family: Intro-Bold;
}
.header-phone__code_small {
  font-size: 14px;
  font-family: Intro-Regular;
  color: #ffa3b9;
}
.header-section-bottom {
  padding: 35px 0;
}
.header-section-bottom .header-wrapper {
  align-items: flex-end;
}
.header-nav {
  width: 672px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-nav-item {
  font-size: 12px;
  color: #6b6b6b;
  font-family: Intro-Regular;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3px;
  width: 70px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
}
.header-nav-item:hover {
  color: #e34168;
}
.header-nav-item:hover .header-nav-icon {
  background-color: #e63e66;
  top: -17px;
}
.header-nav-item:hover .header-nav-icon-shadow {
  transform: scale(0.8, 0.8);
}
.header-nav-item.header-nav-item_current {
  color: #e34168;
}
.header-nav-item.header-nav-item_current .header-nav-icon {
  background-color: #e63e66;
}
.header-nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #1cc2d3;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  top: 3px;
  transition: 0.3s cubic-bezier(0.68, -0.85, 0.265, 1.55);
  /*ease-out;*/
}
.header-nav-icon_cards {
  background-image: url(~sprite.png);
  background-position: -60px 0px;
  width: 60px;
  height: 60px;
  background-size: 207px, 166px;
}
.header-nav-icon_life {
  background-image: url(~sprite.png);
  background-position: -120px 0px;
  width: 60px;
  height: 60px;
  background-size: 207px, 166px;
}
.header-nav-icon_team {
  background-image: url(~sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 60px;
  background-size: 207px, 166px;
}
.header-nav-icon_contacts {
  background-image: url(~sprite.png);
  background-position: -60px -60px;
  width: 60px;
  height: 60px;
  background-size: 207px, 166px;
}
.header-nav-icon_club {
  background-image: url(~sprite.png);
  background-position: 0px -60px;
  width: 60px;
  height: 60px;
  background-size: 207px, 166px;
}
.header-nav-icon-shadow {
  width: 50px;
  height: 12px;
  background: linear-gradient(to top, #ececec 0%, #f2f2f2 100%);
  border-radius: 50%;
  transition: 0.2s ease-out;
  margin-bottom: 12px;
}
.header-section-fixed-place {
  height: 50px;
  width: 100%;
}
/*# sourceMappingURL=headerStyle.css.map */