    <header class="header">
        <div class="header-section__fixed-place"></div>
        <div class="header-section header-fixed">
            <div class="wrapper header-wrapper">
                <a href="#" class="header-fixed__item header-fixed__button header-fixed__button_time-table header-fixed__button_attention" >
                    <span class="header-fixed__button-icon header-fixed__button-icon_time-table"></span> <span class="header-fixed__button-text">Расписание занятий</span>
                </a>
                <a href="tel:+73852696965" class="header-fixed__item header-fixed__phone">
                    <span class="header-fixed__child-flex">
                        <span class="header-fixed__phone-code header-fixed__phone-code_small">+7 3852</span> 28-30-28
                    </span>
                </a>
                <a href="tel:+73852696965" class="header-fixed__item header-fixed__phone">
                    <span class="header-fixed__child-flex">
                        <span class="header-fixed__phone-code header-fixed__phone-code_small">+7 3852</span> 28-30-28
                    </span>
                </a>
                <a href="#" class="header-fixed__item header-fixed__button header-fixed__button_callback">
                    <span class="header-fixed__button-icon header-fixed__button-icon_phone"></span> <span class="header-fixed__button-text">Заказать звонок</span>
                </a>
            </div>
        </div>
        <div class="header-section header-bottom">
            <div class="wrapper header-wrapper">
                <a href="/" class="header__logo"><img src="../../images/logo-maxima.png" alt="Фитнес клуб Максима" title="Фитнес клуб Максима"></a>
                <div class="header-nav">
                    <%
                    var navItems = [
                    {
                    iconName: 'club',
                    name: "Наш клуб",
                    link: "#"
                    },
                    {
                    iconName: 'cards',
                    name: "Клубные карты",
                    link: "#"
                    },
                    {
                    iconName: 'life',
                    name: "Максима Life",
                    link: "#"
                    },
                    {
                    iconName: 'team',
                    name: "Команда",
                    link: "#"
                    },
                    {
                    iconName: 'contacts',
                    name: "Контакты",
                    link: "#"
                    },
                    ];
                    navItems.forEach(function(navItem) {
                    %>
                    <a href="<%- navItem.link %>" class="header-nav__item">
                        <span class="header-nav__icon header-nav__icon_<%- navItem.iconName %>"></span>
                        <span class="header-nav__icon-shadow"></span>
                        <span><%- navItem.name %></span>
                    </a>
                    <% }); %>
                </div>
            </div>
        </div>
    </header>