    <header class="header">
        <div class="header-section-fixed-place"></div>
        <div class="header-section header-section_fixed">
            <div class="wrapper header-wrapper">
                <a href="#" class="header-fixed-item header-fixed-button header-fixed-item_bg_red header-fixed-button_time-table header-fixed-button_attention" >
                    <span class="header-fixed-button__icon header-fixed-button__icon_time-table"></span> <span class="header-fixed-button__text">Расписание занятий</span>
                </a>
                <a href="tel:+73852696965" class="header-fixed-item header-phone" >
                    <span class="header-phone_vertical-center">
                        <span class="header-phone__code header-phone__code_small">+7 3852</span> 28-30-28
                    </span>
                </a>
                <a href="tel:+73852696965" class="header-fixed-item header-phone">
                    <span class="header-phone_vertical-center">
                        <span class="header-phone__code header-phone__code_small">+7 3852</span> 28-30-28
                    </span>
                </a>
                <a href="#" class="header-fixed-item header-fixed-button header-fixed-item_bg_red header-fixed-button_callback">
                    <span class="header-fixed-button__icon header-fixed-button__icon_phone"></span> <span class="header-fixed-button__text">Заказать звонок</span>
                </a>
            </div>
        </div>
        <div class="header-section header-section-bottom">
            <div class="wrapper header-wrapper">
                <a href="/" class="header-logo"><img src="../../images/logo-maxima.png" alt="Фитнес клуб Максима" title="Фитнес клуб Максима"></a>
                <div class="header-nav">
                    <a href="#" class="header-nav-item">
                        <span class="header-nav-icon header-nav-icon_club"></span>
                        <span class="header-nav-icon-shadow"></span>
                        <span>Наш клуб</span>
                    </a>
                    <a href="#" class="header-nav-item">
                        <span class="header-nav-icon header-nav-icon_cards"></span>
                        <span class="header-nav-icon-shadow"></span>
                        <span>Клубные карты</span>
                    </a>
                    <a href="#" class="header-nav-item header-nav-item_current">
                        <span class="header-nav-icon header-nav-icon_life"></span>
                        <span class="header-nav-icon-shadow"></span>
                        <span>Максима Life</span>
                    </a>
                    <a href="#" class="header-nav-item">
                        <span class="header-nav-icon header-nav-icon_team"></span>
                        <span class="header-nav-icon-shadow"></span>
                        <span>Команда</span>
                    </a>
                    <a href="#" class="header-nav-item">
                        <span class="header-nav-icon header-nav-icon_contacts"></span>
                        <span class="header-nav-icon-shadow"></span>
                        <span>Контакты</span>
                    </a>
                </div>
            </div>
        </div>
    </header>