    <footer class="footer">
        <div class="wrapper footer-wrapper">
            <div class="footer-section">
                <p class="footer-section__name footer-section__name_copyrite">2015, Фитнес-центр «Максима»</p>
                <p>Барнаул, ул. Лазурная, 7</p>
                <p>Отдел продаж: <b>28-30-28</b></p>
                <p>Рецепция: <b>28-30-28</b></p>
            </div>
            <div class="footer-section">
                <p class="footer-section__name">Режим работы</p>
                <p>Пн-Пт: 7:00 - 22:00</p>
                <p>Сб 8:00 - 22:00</p>
                <p>Вс 9:00-21:00</p>
            </div>
            <div class="footer-section flex-column flex_space-between">
                <div class="footer-socials flex-row flex_space-between">
                    <a href="#" class="footer-social__item footer-social__item_vk"></a>
                    <a href="#" class="footer-social__item footer-social__item_facebook"></a>
                    <a href="#" class="footer-social__item footer-social__item_ok"></a>
                    <a href="#" class="footer-social__item footer-social__item_youtube"></a>
                </div>
                <div class="footer-rules">
                    <a href="#" class="footer-rules__link">Правила клуба</a> (публичная оферта)
                </div>

            </div>
        </div>
    </footer>