    <footer class="footer">
        <div class="wrapper footer-wrapper">
            <div class="footer-section">
                <p class="footer-section__name">©2015, Фитнес-центр «Максима»</p>
                <p>Барнаул, ул. Лазурная, 7</p>
                <p>Отдел продаж: 28-30-28</p>
                <p>Рецепция: 28-30-28</p>
            </div>
            <div class="footer-section">
                <p class="footer-section__name">Режим работы</p>
                <p>Пн-Пт: 7:00 - 22:00</p>
                <p>Сб 8:00 - 22:00</p>
                <p>Вс 9:00-21:00</p>
            </div>
            <div class="footer-section">
                <div class="social">
                    <a href="#" class="social-item vk"></a>
                    <a href="#" class="social-item facebook"></a>
                    <a href="#" class="social-item ok"></a>
                    <a href="#" class="social-item youtube"></a>
                </div>
                <a href="#">Правила клуба (публичная оферта)</a>
            </div>
        </div>
    </footer>