    <div class="modal-windows">
        <div class="modal callback-modal" >
            <div class="modal__content">
                <div class="modal__box">
                    <button class="modal__close" ></button>
                    <p class="modal__name">Обратный звонок</p>
                    <form id="callback-form" class="callback-form">
                        <label class="callback-form__label">
                            <span class="callback-form__label-name">Имя</span> <br />
                            <input type="text" name="name" value="" class="input callback-form__input" />
                        </label>
                        <label class="callback-form__label">
                            <span class="callback-form__label-name">Телефон</span> <br />
                            <input type="text" name="phone" value="" class=" input callback-form__input" />
                        </label>
                        <p class="callback-form__privacy">Мы обещаем не использовать ваш номер телефона без вашего согласия. Мы не будем рассылать смс и звонить без разрешения.</p>
                        <button class="button callback-form__button">Отправить</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal weight-form-modal" >
            <div class="modal__content">
                <div class="modal__box">
                    <button class="modal__close" ></button>
                    <p class="modal__name">Результат расчета веса</p>
                </div>
            </div>
        </div>


    </div>