<div class="walk-men">
    <div class="wrapper walk-men-wrapper">
        <div class="walk-men__counter">
            <div class="walk-men__counter-info">
                <span class="walk-men__counter-text walk-men__counter-text_big">Пока вы находитесь на сайте,</span> <br />
                    человечек уже прошел <span class="walk-men__count-metrs walk-men__counter-text walk-men__counter-text_big walk-men__counter-text_blue">852</span> м <br />
                    и, между прочим, потратил <span class="walk-men__count-kkal walk-men__counter-text walk-men__counter-text_big walk-men__counter-text_blue">1125</span> ккал
            </div>
            <div class="walk-men-counter__leg walk-men-counter__leg_left"></div>
            <div class="walk-men-counter__leg walk-men-counter__leg_right"></div>
        </div>
    </div>
    <img src="../../images/walk-men.gif" alt="" class="walk-men__image">
</div>