        <div class="wrapper main-slider-wrapper">
            <div class="main-slider">
                <div class="main-slider-item">
                    <a href="#" class="main-slider__link"><img src="../../images/slider/slide1.jpg" class="main-slider__image" alt="" title=""/></a>
                    <div class="main-slider-item-info">
                        <p class="main-slider-item__name">Карта на полгода за 9900!</p>
                        <p class="main-slider-item__description">21 декабря в фитнес-клубе Максима прошли соревнования по армрестлингу. </p>
                        <div class="main-slider-item-nav">
                            <span class="main-slider-item-nav__arrow arrow_left"></span>
                            <span class="main-slider-item-nav__arrow arrow_right"></span>
                        </div>
                    </div>
                </div>
                <div class="main-slider-item">
                    <a href="#" class="main-slider__link"><img src="../../images/slider/slide2.jpg" class="main-slider__image" alt="" title=""/></a>
                    <div class="main-slider-item-info">
                        <p class="main-slider-item__name">Карта на полгода за 9900!</p>
                        <p class="main-slider-item__description">21 декабря в фитнес-клубе Максима прошли соревнования по армрестлингу. </p>
                        <div class="main-slider-item-nav">
                            <span class="main-slider-item-nav__arrow arrow_left"></span>
                            <span class="main-slider-item-nav__arrow arrow_right"></span>
                        </div>
                    </div>
                </div>
                <div class="main-slider-item">
                    <a href="#" class="main-slider__link"><img src="../../images/slider/slide3.jpg" class="main-slider__image" alt="" title=""/></a>
                    <div class="main-slider-item-info">
                        <p class="main-slider-item__name">Карта на полгода за 9900!</p>
                        <p class="main-slider-item__description">21 декабря в фитнес-клубе Максима прошли соревнования по армрестлингу. </p>
                        <div class="main-slider-item-nav">
                            <span class="main-slider-item-nav__arrow arrow_left"></span>
                            <span class="main-slider-item-nav__arrow arrow_right"></span>
                        </div>
                    </div>
                </div>
                <div class="main-slider-item">
                    <a href="#" class="main-slider__link"><img src="../../images/slider/slide4.jpg" class="main-slider__image" alt="" title=""/></a>
                    <div class="main-slider-item-info">
                        <p class="main-slider-item__name">Карта на полгода за 9900!</p>
                        <p class="main-slider-item__description">21 декабря в фитнес-клубе Максима прошли соревнования по армрестлингу. </p>
                        <div class="main-slider-item-nav">
                            <span class="main-slider-item-nav__arrow arrow_left"></span>
                            <span class="main-slider-item-nav__arrow arrow_right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>